<%@ Master Language="VB" MasterPageFile="~/MasterPageIST.master" AutoEventWireup="false" CodeFile="MasterPageISTR1.master.vb" Inherits="MasterPageISTR1" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BaseContentPlaceHolder" Runat="Server">
     
  <html xmlns="http://www.w3.org/1999/xhtml">


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" rev="stylesheet" type="text/css" href="CSS/IST.css" />
<link rel="stylesheet" rev="stylesheet" type="text/css" href="CSS/Styles.css" />
<link rel="stylesheet" rev="stylesheet" type="text/css" href="CSS/PopisStyle.css" />
<link rel="stylesheet" rev="stylesheet" type="text/css" href="CSS/Strane.css" />
<style type="text/css">
    a:link
    {
        color: #000000;
        text-decoration: none;
        font-family: Verdana, Arial, Geneva, ms sans serif;
        font-size: 10px;
    }
    /* unvisited link */a:visited
    {
        color: #000000;
        text-decoration: none;
    }
    /* visited link */a:hover
    {
        color: #000000;
        text-decoration: none;
    }
    /* mouse over link */a:active
    {
        color: #000000;
        text-decoration: none;
    }
    /* selected link */.cssPager span
    {
        background-color: #CCCCCC;
        font-size: 12px;
    }
    .cssPager td
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .loading
    {
        background-image: url(images/loader.gif);
        background-position: right;
        background-repeat: no-repeat;
    }
    .style1
    {
        border: 1px solid #FBFBFB;
        font-family: Verdana, Arial, Geneva, ms sans serif;
        font-size: 13px;
        padding: 0px;
        text-align: left;
        vertical-align: middle;
        white-space: nowrap;
        height: 18px;
    }
</style>
<%--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>--%>
    <script type="text/javascript" src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript">
        $("[src*=plus]").live("click", function() {
            $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>")
            $(this).attr("src", "images/minus.png");
        });
        $("[src*=minus]").live("click", function() {
            $(this).attr("src", "images/plus.png");
            $(this).closest("tr").next().remove();
        });
    </script>
<div class="wrapper">        	
	<div class="header"><h2 class="naslov">Речни саобраћај</h2></div>
        <table>
 	    <tr>
                <td class="style1" colspan="4">
                    Изаберите период:</td>
            </tr>
            <tr>
                <td class="style1">
                    <asp:Label ID="lblGOD" runat="server" Text="Година"></asp:Label>
                </td>
                <td class="style1">
                    <asp:Label ID="lblKV" runat="server" Text="Квартал"></asp:Label>
                </td>
                <td class="style1">
                    <asp:Label ID="lblMES" runat="server" Text="Месец"></asp:Label>
                </td>
                <td class="style1">
                    <asp:Label ID="lblSED" runat="server" Text="Седмица"></asp:Label>
                </td>
            </tr>
            <tr>
                <td class="IST13L">
                    &nbsp;</td>
                <td class="IST13L">
                    &nbsp;</td>
                <td class="IST13L">
                    &nbsp;</td>
                <td class="IST13L">
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="IST13L" colspan="4">
                    &nbsp;
                </td>
            </tr>

     
	
        
   	
        
   	<tr>
            <td class="IST13L" colspan="4">
                <asp:LinkButton ID="lbUnosPODACI_SRM21" runat="server" Font-Size="Small" Font-Underline="True"
                    Width="300px" Style="height: 16px; margin-bottom: 5px;"> Унос - PODACI_SRM21</asp:LinkButton>
            </td>
        </tr>



        </tr>





     
        <tr>
            <td class="IST13L" colspan="4">
                &nbsp;</td>
        </tr>
        <tr>
            <td class="IST13L" colspan="4">
                &nbsp;</td>
        </tr>
  <tr>
            <td class="IST13L" colspan="4">
                &nbsp;</td>
        </tr>
         <tr>
            <td class="IST13L" colspan="4">
                <asp:LinkButton ID="lbKraj" runat="server" Font-Size="Small" Font-Underline="True"
                    Width="500px" Style="height: 16px; margin-bottom: 5px;"> Крај рада</asp:LinkButton>
            </td>
        </tr>

    </table>
  <asp:ContentPlaceHolder id="ContentPlaceHolderInNestedMP" runat="server">
       
   </asp:ContentPlaceHolder>
      	</div>
</asp:Content>




