<configuration>
	<configSections>
		<section name="ISTconnection" type="System.Configuration.NameValueSectionHandler" />
		<section name="Istrazivanja" type="System.Configuration.NameValueSectionHandler" />
		<section name="ISTBrisanja" type="System.Configuration.NameValueSectionHandler" />
		<section name="ISTDeletings" type="System.Configuration.NameValueSectionHandler" />
		<section name="ISTCATI" type="System.Configuration.NameValueSectionHandler" />
		<section name="ISTCAPI" type="System.Configuration.NameValueSectionHandler" />
		<section name="PUBLICDB" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<ISTconnection>
		<add key="Data Source" value="10.1.6.20" />
		<add key="Initial Catalog" value="IST" />
		<add key="User ID" value="test" />
		<add key="Password" value="obican" />
	</ISTconnection>
	<ISTBrisanja>
		<add key="Data Source" value="10.1.6.20" />
		<add key="Initial Catalog" value="DEPO" />
		<add key="User ID" value="test" />
		<add key="Password" value="obican" />
		<!-- da li da se u bazi DEPO pamte kljucevi obrisanih slogova -->
		<add key="BrisanjeDEPO" value="true" />
	</ISTBrisanja>
	<ISTDeletings>
		<add key="Data Source" value="10.1.6.20" />
		<add key="Initial Catalog" value="DEPO" />
		<add key="User ID" value="test" />
		<add key="Password" value="obican" />
		<!-- Whether in the DEPO database are saved primary keys of the deleted records  -->
		<add key="SaveDeleted" value="true" />
	</ISTDeletings>
	<ISTCATI>
		<add key="Data Source" value="10.1.6.20" />
		<add key="Initial Catalog" value="CATI" />
	</ISTCATI>
	<ISTCAPI>
		<add key="Data Source" value="10.1.6.20" />
		<add key="Initial Catalog" value="ISTCAPI" />
	</ISTCAPI>
	<PUBLICDB>
		<add key="Data Source" value="10.1.6.20" />
		<add key="Initial Catalog" value="DEPOProjektanti" />
	</PUBLICDB>
	<Istrazivanja>
		<add key="User ID" value="" />
		<add key="Password" value="" />
		<add key="FolderZaProgrameZaUnos" value="\\rzsftp.statsrb.lan\IST\UNOS" />
		<add key="HelpFile" value="\\rzsftp.statsrb.lan\ist\Help\ist.chm" />
		<add key="pismo" value="" />
		<add key="folderZaGen" value="\\rzsftp.statsrb.lan\IST\SQLtxt\IST" />
		<add key="mode" value="DESKTOP" />
		<add key="office" value="KGZ" />
		<add key="nonavailable" value="61;300" />
		<add key="defaultLanguage" value="KGZ" />
	</Istrazivanja>
</configuration>