<configuration>
  <configSections>
    <section name="ISTconnection" type="System.Configuration.NameValueSectionHandler" />
    <section name="Istrazivanja" type="System.Configuration.NameValueSectionHandler" />
    <section name="ISTBrisanja" type="System.Configuration.NameValueSectionHandler" />
    <section name="ISTDeletings" type="System.Configuration.NameValueSectionHandler" />
    <section name="ISTCATI" type="System.Configuration.NameValueSectionHandler" />
    <section name="ISTCAPI" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!-- Driver={ODBC Driver 13 for SQL Server};Server=tcp:imt2.database.windows.net,1433;Database=IST;Uid=bg@imt2;Pwd={your_password_here};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;-->
  <ISTconnection>
    <add key="Data Source" value="imt2.database.windows.net" />
    <add key="Initial Catalog" value="IST" />
    <add key="User ID" value="bg" />
    <add key="Password" value="Bl1234##" />
  </ISTconnection>
  <ISTBrisanja>
    <add key="Data Source" value="imt2.database.windows.net" />
    <add key="Initial Catalog" value="DEPO" />
    <add key="User ID" value="bg" />
    <add key="Password" value="Bl1234##" />
    <!-- da li da se u bazi DEPO pamte kljucevi obrisanih slogova -->
    <add key="BrisanjeDEPO" value="true" />
  </ISTBrisanja>
  <ISTDeletings>
    <add key="Data Source" value="imt2.database.windows.net" />
    <add key="Initial Catalog" value="DEPO" />
    <add key="User ID" value="bg" />
    <add key="Password" value="Bl1234##" />
    <!-- Whether in the DEPO database are saved primary keys of the deleted records  -->
    <add key="SaveDeleted" value="true" />
  </ISTDeletings>
  <ISTCATI>
    <add key="Data Source" value="IMT2.statsrb.lan" />
    <add key="Initial Catalog" value="CATI" />
  </ISTCATI>
  <ISTCAPI>
    <add key="Data Source" value="IMT2.statsrb.lan" />
    <add key="Initial Catalog" value="DEPO" />
  </ISTCAPI>
  <Istrazivanja>
    <add key="User ID" value="" />
    <add key="Password" value="" />
    <add key="FolderZaProgrameZaUnos" value="\\rzsftp.statsrb.lan\IST\UNOS" />
    <add key="HelpFile" value="\\rzsftp.statsrb.lan\ist\Help\ist.chm" />
    <add key="pismo" value="" />
    <add key="folderZaGen" value="\\Rzsftp.statsrb.lan\IST\SQLtxt\IST" />
    <add key="mode" value="CLOUD" />
    <add key="office" value="rzs" />
    <add key="nonavailable" value="" />
    <add key="defaultLanguage" value="EN" />
  </Istrazivanja>
</configuration>