<configuration>
  <configSections>
    <section name="ISTconnection" type="System.Configuration.NameValueSectionHandler" />
    <section name="Istrazivanja" type="System.Configuration.NameValueSectionHandler" />
    <section name="ISTBrisanja" type="System.Configuration.NameValueSectionHandler" />
    <section name="ISTDeletings" type="System.Configuration.NameValueSectionHandler" />
    <section name="ISTCATI" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
  </appSettings>
  <ISTconnection>
    <add key="Data Source" value="(LocalDB)\MSSQLLocalDB" />
    <add key="Initial Catalog" value="IST" />
    <add key="User ID" value="obican" />
    <add key="Password" value="obican" />
  </ISTconnection>
  <ISTBrisanja>
    <add key="Data Source" value="(LocalDB)\MSSQLLocalDB" />
    <add key="Initial Catalog" value="DEPO" />
    <add key="User ID" value="obican" />
    <add key="Password" value="obican" />
    <!-- da li da se u bazi DEPO pamte kljucevi obrisanih slogova -->
    <add key="BrisanjeDEPO" value="true" />
  </ISTBrisanja>
  <ISTDeletings>
    <add key="Data Source" value="(LocalDB)\MSSQLLocalDB" />
    <add key="Initial Catalog" value="DEPO" />
    <add key="User ID" value="obican" />
    <add key="Password" value="obican" />
    <!-- Whether in the DEPO database are saved primary keys of the deleted records  -->
    <add key="SaveDeleted" value="true" />
  </ISTDeletings>
  <ISTCATI>
    <add key="Data Source" value="(LocalDB)\MSSQLLocalDB" />
    <add key="Initial Catalog" value="CATI" />
  </ISTCATI>
  <Istrazivanja>
    <add key="User ID" value="" />
    <add key="Password" value="" />
    <add key="FolderZaProgrameZaUnos" value="\\rzsftp.statsrb.lan\IST\UNOS" />
    <add key="HelpFile" value="\\rzsftp.statsrb.lan\ist\Help\ist.chm" />
    <add key="pismo" value="" />
    <add key="folderZaGen" value="\\Rzsftp.statsrb.lan\IST\SQLtxt\IST" />
    <add key="mode" value="CAPI" />
    <add key="office" value="rzs" />
    <add key="nonavailable" value="3;5;7;8;9;11;12;13;14;15;101;102;103;105;105" />
    <add key="defaultLanguage" value="src" />
  </Istrazivanja>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>